<ion-header>
  <ion-toolbar>
    <ion-title>Autenticacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <ion-card-header style="text-align: center">
          <ion-card-title>
            <h1>
                Iniciar Sesión
            </h1>
          </ion-card-title>
          <div style="text-align: center">
              <img src="../../assets/images/user.png"  style="width: 50%;margin: 0%;margin-left: 25%;margin-right: 25%;" >
          </div>
        </ion-card-header>
      
        <ion-card-content>
          
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
</ion-content>
