<ion-header>
  <ion-toolbar>
    <ion-title>Autenticacion</ion-title>
  </ion-toolbar>
</ion-header>
<style>

</style>
<ion-content fullscreen>
    <ion-card>
        <ion-card-header style="text-align: center">
          <ion-card-title>
            <h1>
                Iniciar Sesión
            </h1>
            <ion-icon name="person" color="primary">

            </ion-icon>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
            <ion-col size="3">

            </ion-col>
            <ion-col size="3">
                <ion-label>Nombre Cajero: </ion-label>
            </ion-col>
            <ion-col size="3">
                <ion-input placeholder="Nombre cajero" [(ngModel)]="nombreCajero">
                  </ion-input>
            </ion-col>
            
            <ion-col size="3">

              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" style="text-align: center">
              <ion-button (click)="iniciarSesion()">
                <ion-icon name="contact">
      
                </ion-icon>
                Iniciar Sesión
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
